<div class="mt-4">
	<h4 class="animate__animated animate__jello">{{burger_name}}</h4>

	<button class="change-devour btn btn-info animate__animated animate__jello" data-id="{{id}}" data-newdevour="{{devour}}">
	Devour</button>
</div>